:root{
  --teal: #1be687;
  --teal_hover: #1cbb71;

}

*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'Merienda', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.card-img-top{
  max-width: 400px;
  max-height: 200px;
}
.check-in {
  font-weight: 500;
}

.custom-bg{
  background-color: var(--teal);
  text-decoration: solid;
  border: 1px solid var(--teal);
  padding: 3px;
}
.custom-bg:hover{
  background-color: var(--teal_hover);
  border: 1px solid var(--teal_hover);
}
.custom-card{
  max-width: 350px;
  margin: auto;
}

.availability-form{
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

.custom-features{
  width: 80px;
}

.custom-rating{
  width: 50px;
}

.h-line{
  width: 250px;
  margin: 0 auto;
  height: 1.7px;
}

#booking_room, #booking_room_btn{
  display: block;
}
@media screen and(max-width: 575px) {
  .availability-form{
      margin-top: 0px;
      padding: 5px;
  }
}

